@import '../../css/theme.scss';

.ProductsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: row;
    padding: 1em;
    margin: 2em; 
    
    box-shadow: 2px 2px 2px #888888;
}
.imgProduct{
    width: 30%;
    height: auto;
    margin-bottom: 1em;
}
.descriptionContainer{
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    font-family: $font-primary;
    font-weight: 400;
    color: black;
    
    background-color: #FFFFFF;
   
    border: 2px solid #525252;
    border-radius: 6px;
    margin: 0em 0.5em ;
 
}

@media only screen and (max-width : 860px) {

    .ProductsContainer{
        flex-direction: column;
    }
    .imgProduct{
        width: 90%;
        height: auto;
    }
}