.ListContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Products{
    flex: 0 1 25rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.ProductContainer{
   
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px #888888;
}
.Products .imgProduct{
    max-width: 34rem;
    max-height: 34rem;
    width: 300px;
 
}
.Products h3{
  font-size: 1rem;
  text-align:center;
  color: black;

}

@media only screen and (max-width : 960px) {
    
    .ListContainer{
        display: flex;
        flex-direction: column;
    }
}
    