
.cart{
    height: 70%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(226, 225, 225);
    border: 2px solid #4d4f5017;
    border-radius: 6px;
    border-bottom: none;
    background: -webkit-linear-gradient(rgb(226, 225, 225), rgba(214, 214, 214, 0.9));
}
.cart-link{
    height: 70%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    position: relative;
    margin: 1em;
    size: 1em; 
    object-fit: cover;
    
}
.cart-quantity{
    padding-right: 1.5em;
    font-size: 1.4em;
    font-family: 'RocknRoll One', sans-serif;
}

@media only screen and (max-width : 960px) {
    .cart{
        height: fit-content;
        width: 80px;
    }
    .icon{
        padding-left: 1.2em;
    }
    
    }