.navBar{
    z-index: 100;
    background-color:whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
    height: 5em;
    width: 100%;
    /* background: -webkit-linear-gradient(rgba(0, 0, 0, 0.267), rgba(214, 214, 214, 0.26)); */
    
    
  }
  .links{
    
    align-items: center;
    object-fit: cover;
   
  }
  
  .links ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  .links ul li{
    z-index: 110;
    text-decoration: none;
    padding: 0.5em; 
    margin: 0.2em;
    font-size: 1.4em;
    font-family: "Open Sans", sans-serif;
    border: 2px solid #4d4f5017;
    border-radius: 6px;
   
    background-color: white;
   
    
  }
  .navBar ul  a{
    color: rgb(26, 17, 4); 
    text-decoration: none;
 
  }
  .navBar li :hover{
    color: rgb(3, 94, 94);
    
  }
  img{
    height: 100%;
    object-fit: cover;
    object-position: center left;
  }

  @media only screen and (max-width : 960px) {
    
  .navBar{
    flex-direction: column; 
    height:max-content;
  }
  .links ul{
    padding: 0em;
    flex-direction: column;
  
  } 
  .navBar .icon{
    height: 25px;
    width: 25px;
  }}
  