
.App{
  min-height: 100vh;
  background-image: url("./imagenes/mountains.png");
 
  background-attachment: fixed;
  background-size: cover;
  background-color:whitesmoke;
  box-sizing: border-box;
}

.carousel{
  margin-top: 0.5em;
}

