
.App{
  min-height: 100vh;
  background-image: url("./imagenes/mountains.png");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color:whitesmoke;
}

.navBar{
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.301);
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: row-reverse; 
  height: 5em;
  width: 100%;
}

.navBar li{
  text-decoration: none;
  padding: 1em;
  margin: 0.5em;
  font-size: 1.2em;
  font-family: 'RocknRoll One', sans-serif;
  
}
.navBar li a{
  color: aliceblue;
}
.navBar li :hover{
  color: burlywood;
}
img{
  height: 100%;
  object-fit: cover;
  object-position: center left;

}

@media only screen and (max-width : 960px) {
.navBar{
  flex-direction: column-reverse; 
  height:max-content;
}
.navBar img{
height: 100px;
width: 300px;
}
}