
.App{
  min-height: 100vh;
  background-image: url("./imagenes/mountains.png");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color:whitesmoke;

}

.navBar{
  z-index: 100;
  background-color: rgba(252, 252, 252, 0.719);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; 
  height: 5em;
  width: 100%;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.267), rgba(214, 214, 214, 0.26));
 
  
}
.links{
  float: right;

  align-items: center;
  object-fit: cover;
}

.links ul{
  list-style-type: none;
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.links ul li{
  z-index: 110;
  text-decoration: none;
  padding: 0.65em; 
  margin: 0.2em;
  font-size: 1.4em;
  font-family: 'RocknRoll One', sans-serif;
  border: 2px solid #4d4f5017;
  border-radius: 6px;
  border-bottom: none;
  background: -webkit-linear-gradient(rgb(226, 225, 225), rgba(214, 214, 214, 0.9));
  
}
.navBar ul  a{
  color: rgb(26, 17, 4); 
  text-decoration: none;
  
}
.navBar li :hover{
  color: rgb(3, 94, 94);
}
img{
  height: 100%;
  object-fit: cover;
  object-position: center left;
}
.carousel{
  margin-top: 0.5em;
}

@media only screen and (max-width : 960px) {
.navBar{
  flex-direction: column; 
  height:max-content;
}
.navBar img{
  height: 100px;
  width: 300px;
}}